= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :question
    = f.text_area :question, class:"long_text_field"
  .actions
    = f.submit 'Save'  
  .field
    = f.label :answer
    = f.text_area :answer, class:"long_text_field", :class => 'ckeditor'
  .field
    = f.label :course_id
    = f.text_field :course_id, value:1
  .field  
    = f.label :chapter
    = f.text_field :chapter, default_value:999
  .field  
    = f.label :index_number
    = f.text_field :index_number
    = f.submit 'Save'  
:javascript
  $("#question_question").focus();
  $('.ckeditor').ckeditor();