%h1 Listing questions
= link_to 'New Question', new_question_path, class:"btn"
%table
  %tr
    %th Course
    %th Number
    %th Question
    %th Answer
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.course_id.to_s + '.' + question.chapter.to_s
      %td= question.index_number
      %td= link_to question.question, edit_question_path(question)
      %td= raw question.answer
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


