%p#notice= notice

%p
  %h3 
    = @question.question
    ?
%p
  =raw @question.answer
%p
  %b Course:
  = @question.course_id

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
