- model_class = Course
.page-header
  %h1=@course.name




= link_to 'New Question', new_question_path(course_id:@course.id), :class => 'btn btn-success'
%table{class:"table table-striped table-hover"}
  %tr{class:"info"}
    %th index
    
    %th Question
    %th Answer
    %th
  -chapterno=3
  - @course.questions.where("index_number >= #{chapterno} and index_number < #{chapterno+1}").order(index_number: :asc).each do |question|
    %tr
      %td=  question.index_number.to_s
      
      %td= link_to question.question, edit_question_path(question)
      %td= raw question.answer
      %td= link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to t('.back', :default => t("helpers.links.back")), courses_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_course_path(@course), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), course_path(@course), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
=content_for :page_actions do  
  %li= link_to 'New Question', new_question_path(course_id:@course.id), :class => 'btn btn-success'